.main{
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.sub{
    position: absolute;
    right: 0;
    bottom: 0;
    border:1px solid blue;
}
body{
    position: relative;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    position:fixed;
    left: 0;
    bottom: 0;
    background-color: brown;
    height: 100px;
}
h2{
    position: sticky;
    left: 0;
    top: 0;
    border: 2px solid red;
}