*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: gray;
    overflow: hidden;
}
nav h2{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    padding-left: 20px;
}
nav ul{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}
nav{
    margin: 20px 100px;
    position: relative;
}
.div1{
    margin: 20px 100px;
}
.main .div1 div{
    display: inline-block;
    background-color: rgb(75, 73, 73);
    padding: 70px 50px;
    float:right;
    margin-bottom: 10px;
    width: 48%;
}
.main p{
    display: inline-block;  
}
header{
    display: inline-block;
}

.main1 .sub1 .child1 {
    display: inline-block;
    background-color: rgb(75, 73, 73);
    padding: 143px;
    padding-top: 122px;
    margin-right: 28px;
    margin-left: 25px;
}
.main1 .sub2 .child2 {
    display: inline-block;
    background-color: rgb(75, 73, 73);
    padding: 132px;
    padding-top: 122px;
    margin: 20px 29px 20px 26px;
}

.main1 .sub3{
    background-color: rgb(75, 73, 73);
    padding: 40px;
    margin: 20px;
}
.main1{
    margin: 80px;

}
footer{
    background-color: rgb(75, 73, 73);
    padding: 20px;
}
footer ul li{
    display: inline-block;
    padding: 10px;
}
footer ul{
    display: inline-block;
}
footer ul li:last-child{
    float: right;
}